/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.card{
  background-color: black;
}

.flipped{
  border-radius: 5%;
}
