/* you can add to or change this. */
body{
  font-family: 'Righteous', cursive;
  background-color:cornsilk;
}

#container{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 67%; 
    margin: 5px auto;
    position: relative;
}


#title{
  text-align: center;
  text-decoration-line: underline;
  transition: ease-out 0.3s;
}

#game div {
  border: 1px solid black;
  width: 150px;
  height: 200px;
  margin: 19px;
  display:inline-block;
  position: relative;
}

.card{
  background-color: black;
}

.flipped{
  border-radius: 5%;
}

.score{
  text-align: center;
}
.help{
  text-align: center;
  
}
.help:hover{
  color: orange;
  cursor: help;
}