/* you can add to or change this. */
body{
  font-family: 'Righteous', cursive;
  background-color:cornsilk;

}
#title{
  text-align: center;
  text-decoration-line: underline;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.card{
  background-color: black;
}

.flipped{
  border-radius: 5%;
}

.score{
  text-align: center;
}
